kuhl-haus-mdp==0.2.12
aio-pika
fastapi
importlib_metadata
massive
pydantic-settings
python-dotenv
redis
tenacity
uvicorn[standard]
websockets
opentelemetry-api
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-sdk
